:root {
  --oxford-blue: #102542;
  --bittersweet /*light orange*/: #F87060;
  --light-gray: #CDD7D6;
  --grullo /*beige*/: #B3A394;
  --white: #FFFFFF;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bittersweet);
  font-family: 'Outfit', sans-serif;
  font-size: 10px;
  width: 100vw;
  height: 100vh;
}

#title {
  margin: 0;
  background-color: var(--oxford-blue);
  width: 100%;
  height: 10vh;
  line-height: 10vh;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--white)
}

.input-container {
  margin-top: 50px;
  height: 40px;
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 20px;
}

#todoIn {
  background-color: var(--oxford-blue);
  border: 3px solid var(--oxford-blue);
  border-radius: 5px;
  width: 300px;
  font-size: 1.5rem;
  color: var(--white);
}

#todoIn::placeholder {
  font-size: 1.3rem;
  opacity: 0.4;
  color: var(--white);
}

#addButton {
  background-color: var(--oxford-blue);
  color: var(--white);
  border: 3px solid var(--oxford-blue);
  border-radius: 5px;
  width: 100px;
  font-size: 1rem;
}

#addButton:hover {
  cursor: pointer;
}

#todo-container {
  margin-top: 50px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.todo {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: var(--oxford-blue);
  border-radius: 10px;
}

.todo-name {
  margin: 5px 10px;
  font-size: 1.8rem;
  color: var(--white);
}

.todo-del-btn {
  width: 50px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross {
  width: 50px;
  height: 50px;
  font-size: 1.8rem;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross:hover {
  cursor: pointer;
}

.cross span:nth-child(1) {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--white);
  width: 40px;
  height: 6px;
  border-radius: 5px;
  transform: rotate(45deg);
}

.cross span:nth-child(2) {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--white);
  width: 40px;
  height: 6px;
  border-radius: 5px;
  transform: rotate(-45deg);
}



#socials {
  margin: 0;
  margin-bottom: 5px;
  padding: 0;
  width: 300px;
  position: absolute;
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  bottom: 0;
}

.social-btn {
  width: 50px;
  font-size: 1.5rem;
  text-align: center;
}

.social-btn a i {
  color: var(--oxford-blue);
}