:root {
  --oxford-blue: #102542;
  --bittersweet /*light orange*/: #F87060;
  --light-gray: #CDD7D6;
  --grullo /*beige*/: #B3A394;
  --white: #FFFFFF;
}

body {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bittersweet);
  font-family: 'Outfit', sans-serif;
  font-size: 10px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

#site-wrapper {
  margin: 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: var(--bittersweet);
  font-family: 'Outfit', sans-serif;
  font-size: 10px;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
}

#title {
  margin: 0;
  background-color: var(--oxford-blue);
  width: 100%;
  height: 10vh;
  min-height: 60px;
  line-height: 10vh;
  text-align: center;
  font-size: 2.8rem;
  font-weight: 500;
  color: var(--white)
}

#title a {
  text-decoration: none;
  color: inherit;
  line-height: 100%;
}

.input-container {
  margin-top: 50px;
  height: auto;
  display: flex;
  justify-content: center;
  overflow: hidden;
  gap: 20px;
  min-height: 50px;
}

#todoIn {
  background-color: var(--oxford-blue);
  border: 3px solid var(--oxford-blue);
  border-radius: 5px;
  width: 300px;
  font-size: 1.5rem;
  color: var(--white);
}

#todoIn::placeholder {
  font-size: 1.3rem;
  opacity: 0.4;
  color: var(--white);
}

#addButton {
  background-color: var(--oxford-blue);
  color: var(--white);
  border: 3px solid var(--oxford-blue);
  border-radius: 5px;
  width: 100px;
  font-size: 1rem;
}

#addButton:hover {
  cursor: pointer;
}

#todo-container {
  margin-top: 50px;
  width: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

#maxTodoMsg {
  background-color: var(--oxford-blue);
  padding: 2px;
  color: var(--white);
  font-size: 1.5rem;
  text-align: center;
}

.todo {
  width: 500px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  background-color: var(--oxford-blue);
  border-radius: 10px;
}

.todo-name {
  margin: 5px 10px;
  font-size: 1.8rem;
  color: var(--white);
}

.todo-del-btn {
  width: 50px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.cross {
  width: 50px;
  height: 50px;
  font-size: 1.8rem;
  background: transparent;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross:hover {
  cursor: pointer;
}

.cross span:nth-child(1) {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--white);
  width: 40px;
  height: 6px;
  border-radius: 5px;
  transform: rotate(45deg);
}

.cross span:nth-child(2) {
  position: absolute;
  content: "";
  display: block;
  background-color: var(--white);
  width: 40px;
  height: 6px;
  border-radius: 5px;
  transform: rotate(-45deg);
}

#socials {
  margin: auto;
  left: 0;
  right: 0;
  margin-bottom: 5px;
  padding: 0;
  width: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  gap: 10px;
  list-style: none;
  bottom: 0;
}

.social-btn {
  width: 50px;
  font-size: 1.5rem;
  text-align: center;
}

.social-btn a i {
  color: var(--oxford-blue);
}

#email-form {
  width: 700px;
  margin-top: 80px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.form-input {
  background-color: var(--oxford-blue);
  border: none;
  border-radius: 10px;
  color: var(--white);
  height: 40px;
  width: 500px;
  font-size: 1.6rem;
  padding-left: 5px;
}

#submit-btn {
  width: 300px;
  cursor: pointer;
}

.thank-you {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

#thanks {
  font-size: 3.6rem;
  text-decoration: none;
  color: var(--oxford-blue);
  margin: 0;
}

#email-submitted {
  font-size: 2.6rem;
  text-decoration: none;
  color: var(--oxford-blue);
  margin: 0;
  text-align: center;
}

#back-to-home {
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--black);
  margin: 0;
}

@media screen and (max-width: 699px) {
  body {
    overflow-y: scroll;
  }
  #site-wrapper {
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
  }
  #title {
    background-color: var(--oxford-blue);
    width: 100vw;
    height: auto;
    min-height: 150px;
    text-align: center;
    font-weight: 500;
    color: var(--white);
    line-height: 1.5;
  }
  .input-container {
    margin-top: 20px;
    flex-direction: column;
    align-items: center;
    min-height: 100px;
    gap: 10px;
  }
  #addButton {
    height: 37px;
  }

  #todo-container {
    margin-top: 20px;
    margin-bottom: 15px;
    width: 100vw;
  }
  .todo {
    width: 90vw;
    height: auto;
  }
  .todo-name {
    word-break: break-all;
    font-size: 1.6rem;
  }
  .todo-del-btn {
    position: relative;
  }

  #socials {
    margin: auto;
    left: 0;
    right: 0;
    margin-bottom: 5px;
    padding: 0;
    width: 300px;
    position: relative;
    display: flex;
    justify-content: center;
    gap: 10px;
    list-style: none;
    bottom: 0;
  }

  #email-form {
    width: 100vw;
  }
  
  .form-input {
    width: 90%;
  }

  #thanks {
    font-size: 2.6rem;
    text-decoration: none;
    color: var(--oxford-blue);
    margin: 0;
  }
  
  #email-submitted {
    font-size: 1.6rem;
    text-decoration: none;
    color: var(--oxford-blue);
    margin: 0;
    text-align: center;
  }
  
  #back-to-home {
    font-size: 1rem;
    text-decoration: none;
    color: var(--black);
    margin: 0;
  }
}
